@model IEnumerable<Intenteo6.Models.dbModels.Carro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Año)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdmodeloNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarcaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Año)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdmodeloNavigation.IdModelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarcaNavigation.IdMarca)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCar">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCar">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCar">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
