@model Intenteo6.Models.dbModels.FotosCar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FotosCar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFotoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFotoNavigation.IdCar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdFoto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
