@model IEnumerable<Intenteo6.Models.dbModels.FotosCar>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFotoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFotoNavigation.IdCar)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFoto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFoto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFoto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
