@model IEnumerable<Intenteo6.Models.dbModels.Genero>

@{
    ViewData["Title"] = "Index";
}

<h1> Crud Generos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="tablaGenero">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Genero1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Genero1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdGenero">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdGenero">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdGenero">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script src="~/js/genero.js"></script>
}