@{
    ViewData["title"] = "Admin";
}

<div class="text-center my-5">
    <h1 class="display-4">Admin Dashboard</h1>
</div>

<div class="row text-center">
    <div class="col-md-3">
        <a href="@Url.Action("Index", "AplicationUsers")" class="text-decoration-none" >
            <img src="https://cdn-icons-png.flaticon.com/512/6716/6716646.png" class="img-fluid mb-3" alt="Usuarios">
            <h3>Usuarios</h3>
        </a>
       
    </div>
    <div class="col-md-3">
        <a href="@Url.Action("Reportes", "Admin")" class="text-decoration-none" >
            <img src="https://cdn-icons-png.flaticon.com/512/1055/1055644.png" class="img-fluid mb-3" alt="Reportes">
            <h3>Reportes</h3>
        </a>
    </div>
    <div class="col-md-3">
        <a href="@Url.Action("Index", "carroes")" class="text-decoration-none" >
            <img src="https://png.pngtree.com/png-clipart/20231218/original/pngtree-test-task-icon-inventory-photo-png-image_13878747.png" class="img-fluid mb-3" alt="Ver Inventario">
            <h3>Ver Inventario</h3>
        </a>
    </div>
    <div class="col-md-3">
        <a href="@Url.Action("Caja", "Admin")" class="text-decoration-none">
            <img src="https://png.pngtree.com/png-clipart/20230927/original/pngtree-cash-register-machines-vector-png-image_13139376.png" class="img-fluid mb-3" alt="Caja">
            <h3>Caja</h3>
        </a>
    </div>
</div>

<div class="row text-center mt-5">
    <div class="col-md-6">
        <a href="@Url.Action("AgregarPostCarro", "Admin")" class="text-decoration-none">
            <p>Agregar post carro</p>
        </a>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("AgregarPostNoticia", "Admin")" class="text-decoration-none">
            <p>Agregar post noticias</p>
        </a>
    </div>
</div>
</div>