@model IEnumerable<Intenteo6.Models.dbModels.Publicacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClasificacionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClasificacionNavigation.IdClasificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPublicacion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPublicacion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPublicacion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
